.astrogiu{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}



.imagem{
    height: 500px;
    width: 500px;

}

.imagens{
     height: 200px;
    width: 200px;
}